h1 {
    font-weight: bolder;
    color: darkred;
}
h3 {
    background-color: bisque;
    letter-spacing: 1px;
    text-align: center;
}
.prep{
    
}

.ingredients{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro{
    font-size: 24px;
}

.descrip{
    font-weight: bold;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    
}

.pic{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: right;
    color-scheme: pink;
}

.wrap{
    display: flex;
}

.recipe{
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.instructions{
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: 480px){


}

@media screen and (min-width: 768px){
    .descrip{background: green;}
    
    .recipe{
        flex-direction: column;
        justify-content: space-around;
    }

    

    .instructions{
        flex-direction: row;
        justify-content: space-around;
    }

}

@media screen and (min-width:1024px){
    .descrip{background:pink}
    .recipe{
        flex-direction: row;
        justify-content: space-around;
    }

    .recipeHeader{
        flex-grow: 1;
    }

    .instructions{
        flex-direction: row;
        flex-grow: 2;
        justify-content: space-around;
    }
}

.contact-form{
    background-color: powderblue;

}

.invalid-msg{
    color: red;
}

.hide{
    display: none;
}

button {
    color: blue;
}