h1 {
    font-weight: bolder;
    text-decoration: underline;
}
h2 {
    color: white;
    text-align: center;
}

h4{
    color: white;
}

label{
    text-decoration: underline;
    font-weight: bold;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.05rem;
    text-align: center;
}

.ingredients{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.intro{
    font-size: 16px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro-pic{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: right;
}

.descrip{
    font-weight: bold;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  
}

.pic{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: right;
    color-scheme: pink;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.wrap{
    display: flex;
}

.recipe{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    border-radius: 5px;
}

.recipe:nth-child(odd) {
    background-color: #626d71;
    color: #DDBC95;
}

.recipe:nth-child(even) {
    background-color: #B38867;
    color: #CDCDC0;
}

.recipeContainer{
    display: flex;
    flex-direction: column;
}

.instructions{
    display: flex;
    flex-direction: column;
}

.contactTitle{
    color: black;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}

body{
    padding: 5px 10px 15px 20px;
}




@media screen and (min-width: 480px){


}

@media screen and (min-width: 768px){
    .descrip{}
    
    .recipe{
        flex-direction: column;
        justify-content: space-around;
    }

    

    .instructions{
        flex-direction: row;
        justify-content: space-around;
    }

    #contact{
        max-width: 50%;
    }

    body{
        margin: 0 2rem;
    }

}

@media screen and (min-width:1024px){
    .descrip{
        flex-direction: column;
    }
    .recipe{
        flex-direction: row;
        justify-content: space-around;
        
    }

    .recipeHeader{
        flex-basis: calc(100%/3);
        position: relative;
        overflow: hidden;
        border-radius: 5px 0 0 5px;
        display: flex;
        justify-content: center;
    }

    .instructions{
        flex-direction: row;
        flex-basis: calc(100% * (2/3));
        justify-content: space-around;
    }

    #contact{
        max-width: 30%;
    }

    .pic{
        position: absolute;
        max-width: 100%;
        top: 0px;
        left: 0px;
        z-index: 1;
    }

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: rgba(0,0,0,0.5);
        z-index: 10;
    }

    .recipeDescription{
        z-index: 11;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
}

.contact-form{
    background-color: aliceblue;

}

.invalid-msg{
    color: red;
}

.hide{
    display: none;
}

button {
    color: blue;
}

#contact{
    display: grid;
    gap: 0.5rem;

}

.contactText{
    font-weight: bolder;
    font-size: large;
}
